
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hallo, ini ada user yang request unduh data</h1>
    Data User
    <table border="1">
    <thead>
      <tr>
        <td>Nama</td>
        <td>Email</td>
        <td>Organisasi</td>
        <td>Phone</td>
        <td>Keperluan</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @data['name'] %></td>
        <td><%= @data['email'] %></td>
        <td><%= @data['organization'] %></td>
        <td><%= @data['phone'] %></td>
        <td><%= @data['necessity'] %></td>
      </tr>
    </tbody>
    </table>
  </body>
</html>
